html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

a {
	background-color: transparent;
}

h1,.h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

img {
	border: 0;
}

button,
input {
	color: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button {
	text-transform: none;
}

button {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333333;
	background-color: #ffffff;
}

input,
button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

a {
	color: #337ab7;
	text-decoration: none;
}

img {
	vertical-align: middle;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

h1,.h1 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h1,.h1 {
	margin-top: 20px;
	margin-bottom: 10px;
}

h1,.h1 {
	font-size: 36px;
}

ul {
	margin-top: 0;
	margin-bottom: 10px;
}

ul ul {
	margin-bottom: 0;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}

.row {
	margin-left: -15px;
	margin-right: -15px;
}

.col-xs-12,
.col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}

.col-xs-12 {
	float: left;
}

.col-xs-12 {
	width: 100%;
}

@media (min-width: 1200px) {
	.col-lg-12 {
		float: left;
	}

	.col-lg-12 {
		width: 100%;
	}
}

label {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: bold;
}

input[type="checkbox"] {
	margin: 4px 0 0;
	margin-top: 1px \9;
	line-height: normal;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555555;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-control::-moz-placeholder {
	color: #999999;
	opacity: 1;
}

.form-control:-ms-input-placeholder {
	color: #999999;
}

.form-control::-webkit-input-placeholder {
	color: #999999;
}

.form-group {
	margin-bottom: 15px;
}

.btn-default {
	color: #333333;
	background-color: #ffffff;
	border-color: #cccccc;
}

.btn-primary {
	color: #ffffff;
	background-color: #337ab7;
	border-color: #2e6da4;
}

.fade {
	opacity: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

.dropdown-menu > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.navbar-collapse {
	overflow-x: visible;
	padding-right: 15px;
	padding-left: 15px;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	-webkit-overflow-scrolling: touch;
}

@media (min-width: 768px) {
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
}

.navbar-toggle {
	position: relative;
	float: right;
	margin-right: 15px;
	padding: 9px 10px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 4px;
}

@media (min-width: 768px) {
	.navbar-toggle {
		display: none;
	}
}

.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}

button.close {
	padding: 0;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	-webkit-overflow-scrolling: touch;
	outline: 0;
}

.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
}

.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}

.modal-content {
	position: relative;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
	min-height: 16.42857143px;
}

.modal-header .close {
	margin-top: -2px;
}

.modal-body {
	position: relative;
	padding: 15px;
}

.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 600px;
		margin: 30px auto;
	}

	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	}
}

.container:before,
.container:after,
.row:before,
.row:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-footer:before,
.modal-footer:after {
	content: " ";
	display: table;
}

.container:after,
.row:after,
.navbar-collapse:after,
.modal-footer:after {
	clear: both;
}

@-ms-viewport {
	width: device-width;
}

.visible-xs {
	display: none !important;
}

@media (max-width: 767px) {
	.visible-xs {
		display: block !important;
	}
}

/*
@font-face {
	font-family: 'Roboto';
	src: url('/templates/font/roboto-bold-webfont.eot');
	src: url('/templates/font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-bold-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-bold-webfont.woff') format('woff'),
	url('/templates/font/roboto-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
*/



@font-face {
	font-display: fallback;
	font-family: 'Roboto';
	src: url('/templates/font/roboto-light-webfont.eot');
	src: url('/templates/font/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-light-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-light-webfont.woff') format('woff'),
	url('/templates/font/roboto-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-display: fallback;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	src: url("/templates/font/RobotoRegular/RobotoRegular.eot");
	src: url("/templates/font/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("/templates/font/RobotoRegular/RobotoRegular.woff") format("woff"), url("/templates/font/RobotoRegular/RobotoRegular.ttf") format("truetype"); }
/*
@font-face {
	font-family: 'Roboto';
	src: url('/templates/font/roboto-regular-webfont.eot');
	src: url('/templates/font/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-regular-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-regular-webfont.woff') format('woff'),
	url('/templates/font/roboto-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
*/

@font-face {
	font-display: fallback;
	font-family: 'Roboto';
	src: url('/templates/font/roboto-italic-webfont.eot');
	src: url('/templates/font/roboto-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-italic-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-italic-webfont.woff') format('woff'),
	url('/templates/font/roboto-italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-display: fallback;
	font-family: 'Roboto';
	src: url('/templates/font/roboto-medium-webfont.eot');
	src: url('/templates/font/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-medium-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-medium-webfont.woff') format('woff'),
	url('/templates/font/roboto-medium-webfont.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-display: fallback;
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
	src: url("/templates/font/RobotoBold/RobotoBold.eot");
	src: url("/templates/font/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("/templates/font/RobotoBold/RobotoBold.woff") format("woff"), url("/templates/font/RobotoBold/RobotoBold.ttf") format("truetype"); }
/*
@font-face {
	font-family: 'Roboto';
	src: url('/templates/font/roboto-bold-webfont.eot');
	src: url('/templates/font/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-bold-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-bold-webfont.woff') format('woff'),
	url('/templates/font/roboto-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
*/
@font-face {
	font-display: fallback;
	font-family: 'Roboto';
	src: url('/templates/font/roboto-black-webfont.eot');
	src: url('/templates/font/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/roboto-black-webfont.woff2') format('woff2'),
	url('/templates/font/roboto-black-webfont.woff') format('woff'),
	url('/templates/font/roboto-black-webfont.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: 'Roboto Condensed';
	src: url('/templates/font/robotocondensed-light-webfont.eot');
	src: url('/templates/font/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/robotocondensed-light-webfont.woff2') format('woff2'),
	url('/templates/font/robotocondensed-light-webfont.woff') format('woff'),
	url('/templates/font/robotocondensed-light-webfont.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-display: swap;
	font-family: "Roboto Condensed";
	font-weight: normal;
	font-style: normal;
	src: url("/templates/font/RobotoCondensedRegular/RobotoCondensedRegular.eot");
	src: url("/templates/font/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix") format("embedded-opentype"), url("/templates/font/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"), url("/templates/font/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype"); }

@font-face {
	font-display: swap;
	font-family: "Roboto Condensed";
	font-weight: bold;
	font-style: normal;
	src: url("/templates/font/RobotoCondensedBold/RobotoCondensedBold.eot");
	src: url("/templates/font/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix") format("embedded-opentype"), url("/templates/font/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"), url("/templates/font/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype"); }

/*
@font-face {
	font-family: 'Roboto Condensed';
	src: url('/templates/font/robotocondensed-regular-webfont.eot');
	src: url('/templates/font/robotocondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/robotocondensed-regular-webfont.woff2') format('woff2'),
	url('/templates/font/robotocondensed-regular-webfont.woff') format('woff'),
	url('/templates/font/robotocondensed-regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/templates/font/robotocondensed-bold-webfont.eot');
	src: url('/templates/font/robotocondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('/templates/font/robotocondensed-bold-webfont.woff2') format('woff2'),
	url('/templates/font/robotocondensed-bold-webfont.woff') format('woff'),
	url('/templates/font/robotocondensed-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
*/
html,
body {
	height: 100%;
}

body,
form {
	font: normal normal 16px/18px 'Roboto', sans-serif;
	color: #000;
	margin: 0;
	padding: 0;
}

body {
	min-width: 320px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#body {
	flex: 1 0 auto;
}

.header_new {
	background: url("/templates/images/header_bg.png") 0% 0% no-repeat;
	background-size: cover;
	min-height: 164px;
}

.header_wrap {
	display: flex;
	justify-content: space-between;
}

.header_wrap .logo_wrap {
	width: 375px;
	padding: 32px 0 20px;
}

.header_wrap .logo_wrap .logo {
	display: block;
	text-align: center;
	font-size: 15px;
	color: #000;
	width: 170px;
	margin-left: 68px;
}

.header_wrap .logo_wrap .logo img {
	margin-bottom: 10px;
}

.company_data {
	color: #000;
	line-height: 24px;
	font-size: 18px;
	padding-top: 20px;
	width: 488px;
}

.company_data_item a {
	color: #000;
}

.company_data_item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 10px;
}

.company_data_item .img_wrap {
	width: 40px;
}

.address_item a {
	font-weight: bold;
}

.header_wrap .feedback_wrap {
	width: 277px;
	padding-top: 19px;
}

.feedback_wrap .btn-primary {
	width: 186px;
	display: block;
	border-radius: 3px;
	text-align: left;
	padding: 10px 20px;
	color: #fff;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
	min-height: 50px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	line-height: 14px;
	margin-bottom: 10px;
}

.btn_red_head {
	background: #ff3232;
	background: -moz-linear-gradient(top, #ff3232 0%, #be0101 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #ff3232), color-stop(100%, #be0101));
	background: -webkit-linear-gradient(top, #ff3232 0%, #be0101 100%);
	background: -o-linear-gradient(top, #ff3232 0%, #be0101 100%);
	background: -ms-linear-gradient(top, #ff3232 0%, #be0101 100%);
	background: linear-gradient(to bottom, #ff3232 0%, #be0101 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#be0101', GradientType=0 );
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.btn_silver_head {
	background: #aeaeae;
	background: -moz-linear-gradient(top, #aeaeae 0%, #2a2a2a 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #aeaeae), color-stop(100%, #2a2a2a));
	background: -webkit-linear-gradient(top, #aeaeae 0%, #2a2a2a 100%);
	background: -o-linear-gradient(top, #aeaeae 0%, #2a2a2a 100%);
	background: -ms-linear-gradient(top, #aeaeae 0%, #2a2a2a 100%);
	background: linear-gradient(to bottom, #aeaeae 0%, #2a2a2a 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aeaeae', endColorstr='#2a2a2a', GradientType=0 );
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.header_menu {
	width: 100%;
	background-color: #e4e4e4;
}

.header_images {
	min-height: 800px;
	background-image: url("/templates/images/bg-home-main-block.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}

.container_max {
	max-width: 1020px;
	position: relative;
	margin: 0 auto;
}

.bootom_img_text {
	display: flex;
	justify-content: space-between;
	padding-top: 80px;
}

.header_images .bootom_img_price {
	margin: -5px 15px 30px;
}

.header_images .bootom_img_price .price {
	font-size: 60px;
	font-weight: 900;
	line-height: 70px;
	color: #fff;
}

.header_images .bootom_img_price .under {
	font-size: 48px;
	font-weight: 500;
	line-height: 56px;
	color: #fff;
}

.header_images .bootom_img_price .under span {
	vertical-align: super;
	font-size: 26px;
}

.header_images .bootom_img_link {
	margin: -45px 15px 30px;
}

.header_images .bootom_img_link .count {
	font-size: 106px;
	line-height: 95px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	color: #fff;
	text-align: right;
}

.bootom_img_price span {
	font-size: 48px;
	color: #fcfcfc;
	line-height: 43px;
	font-family: 'Roboto', sans-serif;
}

h1,.h1 {
	color: #515362;
	font-size: 48px;
	line-height: 52px;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin: 20px 0 40px 0;
	background-color: transparent;
	text-transform: none;
	padding: 0 15px;
	font-weight: 700;
}

img {
	border: 0px;
}

a {
	text-decoration: none;
	color: #c3c0bb;
	outline: none;
}

button {
	outline: none;
	border: none;
	text-decoration: none;
}

.form-control {
	background: #f5f7fa;
	border: 1px solid #bdc3d1;
	border-radius: 3px;
	box-shadow: none;
	outline: none;
	padding: 9px 12px;
	height: 40px;
	font-size: 18px;
	line-height: normal;
	color: #636363;
}

.form-group {
	margin-bottom: 9px;
	text-align: left;
}

.form-group label {
	font-weight: 300;
}

.form-group label span {
	color: #c13434;
}

.btn_red {
	box-shadow: inset 0px 0px 7px #ffcaca;
	border-radius: 5px;
	border: 1px solid #c43434;
	background: #b12828;
	padding: 10px 15px;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);
}

.btn-primary {
	border-radius: 5px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 11px;
	padding-bottom: 11px;
}

.menu_head {
	height: auto;
	text-align: center;
}

.menu_head ul {
	padding: 0;
	margin: 0;
}

.menu_head li {
	display: inline-block;
	position: relative;
	padding: 16px 20px 16px;
}

.menu_head li.l1 {
	border-right: 1px solid #c9c9c9;
}

.menu_head li.l1:last-child {
	border: none;
}

.menu_head li.l1 .border_top {
	display: none;
}

.menu_head li.l1 .border_bottom {
	display: none;
}

.menu_head .dropdown-menu li .border_bottom {
	display: none !important;
}

.menu_head a {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	/*display: inline-block;*/
	color: #000;
}

.menu_head span {
	font-size: 15px;
	font-weight: 700;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	/*display: inline-block;*/
	color: #000;
}

.menu_head .dropdown-menu {
	border: none;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #797979;
	padding: 18px 0 30px;
}

.menu_head .dropdown-menu li {
	display: block;
	background: none;
	padding: 6px 20px 5px;
	border: none;
}

.menu_head .dropdown-menu a {
	color: #fff;
	text-decoration: none;
}

.menu_head .dropdown-menu li a {
	overflow: visible;
	display: inherit;
	white-space: nowrap;
	width: auto;
	border-radius: 0;
	padding: 0 9px;
	text-decoration: none;
	font-weight: normal !important;
}

button.close {
	width: 18px;
	height: 18px;
	background: url("/templates/images/close.png") no-repeat;
	background-position: 0 0;
	opacity: 1;
}

.modal-header {
	border: none;
}

.modal-body {
	padding: 4px 45px 15px;
}

.modal-body h1,
.modal-body .h1{
	line-height: 48px;
	font-size: 36px;
	padding: 0;
	margin: 0 0 15px;
}

.modal-footer {
	border: none;
	padding: 5px 15px 35px;
}

.make_call .modal-dialog {
	width: 450px;
}

.make_call .modal-content {
	border-radius: 0;
}

.make_call .modal-footer {
	text-align: center;
}

.make_call .modal-footer .btn-default {
	text-align: center;
	padding: 12px 45px 14px;
}

.checkbox_sorting {
	margin: 0 0 6px;
}

.feedback_wrap .btn-primary {
	width: 196px;
}

.fix {
	display: none;
}

.filter_block_head {
	position: relative;
}

.filter_block_head .name {
	position: relative;
	padding-right: 30px;
	margin-right: 20px;
	display: inline-block;
}

.filter_block_head .name:after {
	position: absolute;
	top: 0;
	right: 0px;
	width: 20px;
	height: 20px;
	content: "";
	text-align: center;
	opacity: .7;
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNiIgdmlld0JveD0iMCAwIDEyIDYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRpdGxlPlNoYXBlIDI8L3RpdGxlPjxwYXRoIGQ9Ik0uOCAwTDYgNC42IDExLjIgMGwuOC43TDYgNiAwIC43LjggMHoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==), #fff;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	border: 2px solid #ff3232;
}

.filter_block_head .filter_parametrs_head {
	position: absolute;
	z-index: 1000;
	top: 25px;
	border: 1px solid rgba(132, 146, 144, 1);
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.4);
	width: 198px;
	background: rgba(255, 255, 255, .9);
	padding: 10px 15px;
	display: none;
}



@media screen and (max-width: 1200px) {
	body {
		overflow-x: hidden;
	}

	body,
	form {
		font-size: 14px;
	}

	.address_item a {
		white-space: nowrap;
	}

	.menu_head a {
		font-size: 14px;
	}

	.header_images .bootom_img_price .price {
		font-size: 56px;
	}

	.header_images .bootom_img_price .under {
		font-size: 42px;
	}

	.header_images .bootom_img_link .count {
		font-size: 100px;
	}

	.header_images {
		min-height: 720px;
	}

	.form-control {
		padding: 6px 10px;
		height: 35px;
		font-size: 16px;
	}

	.btn_red {
		font-size: 16px;
	}

	h1,.h1 {
		font-size: 42px;
		line-height: 48px;
		margin: 15px 0 35px 0;
	}

	.feedback_wrap .btn-primary {
		width: 150px;
	}

	.feedback_wrap .btn-primary {
		padding: 5px 15px;
		font-size: 14px;
		min-height: 45px;
		line-height: 14px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 992px) {
	.header_wrap .logo_wrap {
		width: 185px;
	}

	.company_data {
		padding: 20px;
	}

	.header_wrap .feedback_wrap {
		width: 170px;
	}

	.feedback_wrap .btn-primary {
		width: 100%;
		font-size: 14px;
	}

	.menu_head {
		height: auto;
	}

	.menu_head li {
		padding: 10px 12px 10px;
	}

	.menu_head a,
	.menu_head span {
		font-size: 12px;
	}

	.header_images .bootom_img_price .price {
		font-size: 50px;
	}

	.header_images .bootom_img_price .under {
		font-size: 36px;
		margin-top: -15px;
	}

	.header_images .bootom_img_link .count {
		font-size: 90px;
	}

	.bootom_img_text {
		padding-top: 60px;
	}

	.header_images {
		min-height: 600px;
	}

	h1,.h1 {
		font-size: 36px;
		line-height: 42px;
	}
}

@media screen and (max-width: 768px) {
	body,
	form {
		font-size: 12px;
	}

	ul {
		padding-left: 30px;
	}



	.menu_head a,
	.menu_head span {
		font-size: 11px;
	}

	.header_new {
		min-height: 130px;
	}

	.header_wrap .logo_wrap,
	.header_wrap .feedback_wrap {
		width: 25%;
	}

	.company_data {
		width: 50%;
		line-height: 18px;
		font-size: 14px;
		padding-bottom: 0;
	}

	.header_wrap .logo_wrap {
		padding: 35px 0 0;
	}

	.feedback_wrap .btn-primary {
		width: 100%;
		font-size: 12px;
		padding: 5px 15px;
		min-height: 40px;
		max-width: 140px;
	}

	.menu_head li {
		padding: 3px 8px 0px;
	}

	.navbar-toggle {
		display: none !important;
	}

	.header_images .bootom_img_price {
		margin: -15px 15px 30px;
	}

	.header_images .bootom_img_price .price {
		font-size: 36px;
		line-height: 1;
	}

	.header_images .bootom_img_price .under {
		font-size: 24px;
		line-height: 1;
	}

	.header_images .bootom_img_link .count {
		font-size: 64px;
		line-height: 1;
	}

	.header_images {
		min-height: 450px;
	}

	.feedback_wrap .btn-primary {
		display: inline-block;
	}
}

@media screen and (max-width: 680px) {
	.make_call {
		z-index: 10001;
	}

	.navbar-toggle {
		display: block !important;
		position: absolute;
		left: -55px;
		top: 0;
		background-color: rgba(255, 255, 255, 0.8);
		border-color: #000;
	}

	.header_new:not(.fix) .navbar-toggle {
		right: 0;
		top: 140px;
		position: absolute;
		left: inherit;
		z-index: 1;
	}

	.header_new {
		min-height: 190px;
		position: relative;
		text-align: left;
	}

	.header_wrap .logo_wrap {
		padding: 15px 0 0;
	}

	.header_wrap .feedback_wrap {
		padding-top: 15px;
		text-align: center;
	}

	.header_wrap .logo_wrap,
	.header_wrap .feedback_wrap {
		width: 98%;
		/* все браузеры */
		width: -moz-calc(100% - 45px);
		/* Firefox 4+ */
		width: -webkit-calc(100% - 45px);
		/* Firefox 4+ */
		width: calc(100% - 45px);
		/* IE9+ и будущие браузеры */
	}

	.company_data {
		position: absolute;
		width: 100%;
		padding: 0 15px;
		margin: 0 -15px;
		bottom: 0;
		font-size: 12px;
		left: 0;
	}

	.company_data .company_data_wrap {
		max-width: 385px;
		margin: 0 auto;
	}

	.email_wrap.company_data_item,
	.working_hours_wrap.company_data_item {
		display: inline-block;
		white-space: nowrap;
		padding-right: 15px;
	}

	.email_wrap.company_data_item .img_wrap,
	.working_hours_wrap.company_data_item .img_wrap {
		display: inline;
		float: left;
		width: 30px;
	}

	.address_wrap.company_data_item {
		display: block;
		width: 100%;
		text-align: center;
	}

	.address_wrap .img_wrap {
		display: none;
	}

	.header_menu {
		width: 250px;
		position: fixed;
		right: -250px;
		z-index: 10000;
		top: 0;
		height: 100vh;
		visibility: visible;
		overflow: visible !important;
		padding: 0;
	}

	.header_menu:not(.fix) {
		display: block;
	}

	.menu_head li.l1 {
		border-right: none;
		border-bottom: 1px solid #c9c9c9;
		width: 100%;
	}

	.navbar-toggle .icon-bar {
		background-color: #000;
	}

	.menu_head .dropdown-menu {
		display: block;
		background: transparent;
		position: relative;
	}

	.menu_head .dropdown-menu a {
		color: #000;
	}

	.menu_head .dropdown-menu li {
		padding: 0;
	}

	.menu_head > ul {
		text-align: left;
	}

	.menu_head .dropdown-menu {
		padding: 0;
	}

	.menu_head .dropdown-menu li a {
		padding: 0 5px;
	}

	.menu_head a,
	.menu_head span {
		font-size: 11px;
	}

	.header_new .header_wrap {
		display: block;
	}

	.header_wrap .logo_wrap {
		/*width: 100%;*/
		text-align: center;
		width: 98%;
		/* все браузеры */
		width: -moz-calc(100% - 45px);
		/* Firefox 4+ */
		width: -webkit-calc(100% - 45px);
		/* Firefox 4+ */
		width: calc(100% - 45px);
		/* IE9+ и будущие браузеры */
	}

	.company_data {
		display: none;
	}

	.header_wrap .feedback_wrap .feedback {
		display: none;
	}

	.feedback_wrap .btn-primary {
		padding: 12px;
		text-align: center;
		margin-top: 15px;
	}

	.navbar-toggle {
		border-radius: 0;
		background-color: #FF4C4C;
		border: none;
	}

	.header_new:not(.fix) .navbar-toggle {
		top: 50px;
	}

	.header_new .navbar-toggle:before {
		content: "МЕНЮ";
		display: block;
		position: absolute;
		font-weight: 600;
		width: 100%;
		text-align: center;
		left: 0;
		top: -18px;
		font-size: 13px;
	}

	.navbar-toggle .icon-bar {
		background-color: #fff;
	}

	.header_new {
		background: #fff;
		min-height: 160px;
	}

	.navbar-toggle .icon-bar + .icon-bar {
		margin-top: 6px;
	}

	.header_menu {
		width: 100%;
		right: -100%;
		background-color: #FF917F;
		text-align: center;
	}

	.menu_head .dropdown-menu {
		background-color: #FFE87F;
		margin: 10px -15px -11px;
		padding: 0;
		width: calc(100% + 30px);
		visibility: hidden;
		height: 0;
	}

	.menu_head a,
	.menu_head span {
		font-size: 18px;
		text-align: center;
		display: block;
	}

	.menu_head li.l1 {
		padding: 10px 0;
		border-color: #D17769;
	}

	.menu_head .dropdown-menu li a {
		white-space: normal;
	}

	.header_menu .coll {
		float: left;
	}

	.header_menu .close {
		float: right;
		opacity: 1;
	}

	.header_menu .calc {
		height: 30px;
		background-color: #FFE87F;
		display: inline-block;
		font-size: 16px;
		text-transform: uppercase;
		text-align: center;
		color: #000;
		padding: 7px 12px;
	}

	.header_menu .head {
		display: block;
		padding: 25px 0;
	}

	.dropdown-menu-collapse {
		display: block;
		background: center url(/templates/images/mdown.png) no-repeat;
		width: 30px;
		height: 30px;
		right: 0;
		position: absolute;
		top: 5px;
	}
}

@media screen and (max-width: 480px) {
	body,
	form {
		font-size: 10px;
	}

	ul {
		padding-left: 20px;
	}

	img {
		max-width: 290px;
	}

	.company_data {
		text-align: center;
	}

	.header_images .bootom_img_price .price {
		font-size: 26px;
	}

	.header_images .bootom_img_price .under {
		font-size: 16px;
		margin-top: -10px;
	}

	.header_images .bootom_img_link .count {
		font-size: 46px;
	}

	.header_images .bootom_img_price .under span {
		font-size: 14px;
	}

	.header_images {
		min-height: 350px;
	}

	.make_call .modal-dialog {
		width: 300px;
	}

	h1,.h1 {
		font-size: 32px;
		line-height: 36px;
	}
}

.header_menu .head {
	display: none;
}

.buildings_menu_item {
	display: none !important;
}

@media screen and (max-width: 680px) {
	.header_menu .head {
		display: block;
		padding: 25px 0;
	}

	.buildings_menu_item_lg {
		display: none !important;
	}

	.buildings_menu_item {
		display: block !important;
	}
}

.phone_fix_wrap {
	display: none !important;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 1px;
	right: 0;
	background-color: rgb(255, 76, 76);
}

.phone_fix {
	display: none;
}

.phone_fix .city_name_filter {
	display: none;
}

@media screen and (max-width: 680px) {
	.phone_fix_wrap {
		display: block !important;
	}

	.phone_fix {
		display: block !important;
		position: absolute;
		left: 15px;
		top: 8px;
		border: none;
		color: #fff;
		width: 402px;
		/* все браузеры */
		width: -moz-calc(100% - 80px);
		/* Firefox 4+ */
		width: -webkit-calc(100% - 80px);
		/* Firefox 4+ */
		width: calc(100% - 80px);
		/* IE9+ и будущие браузеры */
		background-color: rgb(255, 76, 76);
		font-size: 20px;
		line-height: 26px;
	}

	.phone_fix a {
		color: #fff;
		text-decoration: underline;
		position: relative;
	}

	.phone_fix .city_name {
		padding: 5px 10px;
	}

	.phone_fix .city_name span.arrows {
		width: 22px;
		height: 22px;
		position: relative;
	}

	.phone_fix .city_name span.arrows:after {
		position: absolute;
		top: 0;
		left: 15px;
		width: 22px;
		height: 22px;
		content: "";
		text-align: center;
		background: url('/templates/images/svg_arrovs.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 50% 50%;
	}

	.city_name_filter .checkbox_sorting {
		padding: 5px 10px;
		line-height: 18px;
	}
}

@media screen and (max-width: 480px) {
	.phone_fix {
		font-size: 12px;
		line-height: 26px;
		width: 240px;
		/* все браузеры */
		width: -moz-calc(100% - 80px);
		/* Firefox 4+ */
		width: -webkit-calc(100% - 80px);
		/* Firefox 4+ */
		width: calc(100% - 80px);
		/* IE9+ и будущие браузеры */
	}

	.phone_fix .city_name span.arrows {
		width: 12px;
		height: 12px;
		position: relative;
	}

	.phone_fix .city_name span.arrows:after {
		left: 10px;
		width: 12px;
		height: 12px;
	}

	.city_name_filter .checkbox_sorting {
		padding: 5px 10px;
		line-height: 14px;
	}
}
@media screen and (max-width: 992px) {
	.header_wrap .logo_wrap .logo {
		margin-left: 0;
	}
}
.promoblock {
	position: relative;
	z-index: 2;
	width: 100%;
	height: 34rem;
	-webkit-backface-visibility: hidden;
}
.promoblock-i {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: url(/img/pattern.png) #000;
}
.promoblock-list {
	position: relative;
	width: 100%;
	height: 34rem;
	margin: 0 auto;
	overflow: hidden;
	opacity: 1;
	transition: opacity .3s, width .3s;
	will-change: opacity, width;
}
.promoblock.__loading .promoblock-list {
	opacity: 0;
}
.promoblock.__loading .promoblock-i:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -4.4rem 0 0 -4.4rem;
	width: 8.8rem;
	height: 8.8rem;
	background: url(/img/spinner.png) 0 0/100% 100% no-repeat;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite
}
.slider_phone_wrap .promoblock-item-text {
	left: 25%;
	bottom: inherit;
	width: 50%;
	font-size: inherit;
	max-height: none !important;
	padding: 1.5rem;
	line-height: inherit;
}
.slider_phone_wrap .slick_button_wrap_prev {
	background: 0 0;
	width: 30px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	left: 0;
}
.slider_phone_wrap .slick_button_wrap_prev {
	background: 0 0;
	width: 30px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	left: 0;
	cursor: pointer;
}
.slider_phone_wrap .slick_button_wrap_next {
	background: 0 0;
	width: 30px;
	height: 50px;
	top: 50%;
	margin-top: -25px;
	right: 0;
	cursor: pointer;
}

.slider_phone_wrap .slick_button_wrap_prev  .slick-prev {
	background: url(/templates/images/arrow.svg) no-repeat;
	width: 13px;
	height: 18px;
	top: 50%;
	left: 10px;
}
.slider_phone_wrap .slick_button_wrap_next .slick-next {
	background: url(/templates/images/arrow.svg) no-repeat;
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	width: 13px;
	height: 18px;
	top: 50%;
	margin-top: -9px;
	right: 10px;
}
.slider_phone_wrap .slick-next:hover, .slider_phone_wrap .slick-prev:hover {
	opacity: .8;
}
.slider_phone_wrap .promoblock-item-text {
	left: 25%;
	bottom: inherit;
	width: 50%;
	font-size: inherit;
	max-height: none !important;
	padding: 1.5rem;
	line-height: inherit;
}
.slider_phone_wrap .img_wrap{min-height: 350px; background-repeat: no-repeat; background-size: cover; }


.promoblock.js-promoblock {display: block;}
.slider_phone_wrap {display: none;}

@media (max-width: 1023px){
	.slider_phone_wrap {display: block;width: 100%; overflow: hidden;}
	.promoblock.js-promoblock {display: none;}
}

.finished_wrap{font-size: 16px;
	line-height: 1.2;
	font-family: 'Roboto Condensed',sans-serif;}
.finished_wrap .img-responsive {
	display: block;
	max-width: 100%;
	height: auto; }

.finished_wrap .img-rounded {
	-webkit-border-radius: 6px;
	border-radius: 6px; }

.finished_wrap .img-thumbnail {
	padding: 4px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	display: inline-block;
	max-width: 100%;
	height: auto; }

.finished_wrap .img-circle {
	-webkit-border-radius: 50%;
	border-radius: 50%; }

.finished_wrap .sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0; }

.finished_wrap .sr-only-focusable:active, .finished_wrap .sr-only-focusable:focus {
	position: static;
	width: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto; }

.finished_wrap .container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px; }


.finished_wrap .center-block {
	display: block;
	margin-left: auto;
	margin-right: auto; }

.finished_wrap .img-responsive {
	display: block;
	max-width: 100%;
	height: auto; }

.finished_wrap h2,.finished_wrap .h2 {
	font-size: 48px;
	font-family: 'Roboto Condensed',sans-serif;
	font-weight: 700;
	color: #505261;
	line-height: 50px;
	text-transform: none;
	text-align: center;
	padding: 0 15px;
	margin: 10px 0 80px; }


.finished_wrap .btn {
	display: inline-block;
	-webkit-box-shadow: inset 0 0 7px #ffcaca;
	box-shadow: inset 0 0 7px #ffcaca;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #c43434;
	background: #b12828;
	padding: 10px 15px;
	font-weight: 400;
	line-height: 22px;
	text-align: center;
	min-height: 50px;
	min-width: 180px;
	width: 100%;
	height: 50px;
	font-size: 24px;
	color: #fff;
	text-decoration: none; font-family: "Roboto Condensed", sans-serif; text-transform: none;}
.finished_wrap .selection-form .form-group .form-control.required.error {    box-shadow: inset 0px 0px 7px 2px rgba(177, 40, 40, 0.7);}
.finished_wrap .btn:hover {
	background: #d72525;
	border: 1px solid #c43434;
	text-decoration: none;
	color: #fff; }

.finished_wrap .selection {
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	padding: 36px 0px 50px; }
.finished_wrap .selection h2,.finished_wrap .selection .h2 {
	color: #fff;
	font-size: 59px;
	margin-bottom: 30px; }
.finished_wrap .selection h2 small,.finished_wrap .selection .h2 small {
	display: block;
	font-weight: normal;
	font-size: 48px;
	margin-top: 12px; color:#fff;}

.finished_wrap .selection-form {
	margin: 0 auto;
	max-width: 880px;
	border: 8px solid #fff;
	padding: 40px 25px;
	background-color: rgba(54, 60, 72, 0.8);
	text-align: center; color: #fff; min-height: 400px;}
.finished_wrap .selection-form .bg-danger {
	background-color: #d26c6c;
}
.finished_wrap .selection-form__title {
	text-align: center;
	font-size: 30px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 35px;line-height: 1.2;font-family: 'Roboto Condensed';}

.finished_wrap .selection-form__item {
	color: #fff;
	font-size: 14px;
	margin-bottom: 15px;
	text-align: left; }
.finished_wrap .selection-form__item strong {
	font-size: 20px;font-family: 'Roboto Condensed'; }
.finished_wrap .selection-form .form-group label {
	font-size: 20px;
	font-family: 'Roboto Condensed';
	color: #fff;
	font-weight: 700;
}
.m_b_50 {margin-bottom: 50px;}
@media only screen and (max-width: 767px){
	.m_b_50 {margin-bottom: 20px;}
}
.finished_wrap .selection-form__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	padding-top: 14px; }
.finished_wrap .selection-form__list li {
	margin-bottom: 10px;
	line-height: 12px; display: flex;}

.finished_wrap .selection-form__check,
.finished_wrap .selection-form__label {
	vertical-align: middle;
	cursor: pointer;margin: 0;
	font-weight: normal;
	font-size: 14px;    margin-right: 3px; }

.finished_wrap .selection-form__check:focus {
	outline: none; }

.finished_wrap .selection-form__btn {
	max-width: 340px; }

.finished_wrap .finished-houses__btn {
	max-width: 270px;
	margin-top: 40px; }

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
	.finished_wrap .advantages__symbol_2 {
		padding: 20px 0; }
	.finished_wrap .developer__list {
		padding-left: 36px; }
	.finished_wrap .about-item__descr {
		height: auto;
		padding: 15px 0; }
	.finished_wrap .finished-houses {
		padding: 86px 0px 106px; }
	.finished_wrap h2,.finished_wrap .h2 {
		font-size: 32px; }
	.finished_wrap .variants__title {
		font-size: 30px; }
	.finished_wrap .variants__title small {
		font-size: 22px; }
	.finished_wrap .selection h2,.finished_wrap .selection .h2 {
		font-size: 46px; }
	.finished_wrap .selection h2 small,.finished_wrap .selection .h2 small {
		font-size: 38px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
	.finished_wrap .advantages__symbol {
		padding: 20px 0; }
	.finished_wrap .developer__list {
		max-width: 100%;
		padding: 20px 20px 12px 20px; }
	.finished_wrap .developer__text {
		text-align: center;
		padding: 0 0 20px;
		font-size: 18px; }
	.finished_wrap .developer__text strong {
		font-size: 40px; }
	.finished_wrap .finished-houses {
		padding: 66px 0px 86px; }
	.finished_wrap .selection-form__item {
		margin-bottom: 20px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
	.finished_wrap .finished-houses {
		padding: 46px 0px 66px; }
	.finished_wrap .selection-form__btn {
		font-size: 16px; }
	.finished_wrap h2,.finished_wrap .h2 {
		font-size: 28px;
		line-height: 1.2;
		margin-bottom: 50px; }
	.finished_wrap .selection h2,.finished_wrap .selection .h2 {
		font-size: 30px; }
	.finished_wrap .selection h2 small,.finished_wrap .selection .h2 small {
		font-size: 24px; }
	.finished_wrap .selection-form__title {
		font-size: 18px; } }
.margin_t_0 {margin-top: 0!important;}


.finished_wrap #make_finished .selection-form {background-color:transparent;    padding-top: 0; color: #333333;}
.finished_wrap #make_finished .selection-form__item,
.finished_wrap #make_finished .selection-form__title,
.finished_wrap #make_finished .selection-form .form-group label{color: #333333;}
.finished_wrap #make_installments .selection-form {background-color:transparent;    padding-top: 0; color: #333333;}
.finished_wrap #make_installments .selection-form__item,
.finished_wrap #make_installments .selection-form__title,
.finished_wrap #make_installments .selection-form .form-group label{color: #333333;}
.finished_objects .building_block .name span{font-size: 22px;}@media screen and (max-width: 480px){.finished_objects .building_block .name span{font-size: 18px;text-shadow: 1px 1px 2px rgba(0,0,0,.9);}}