@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext');

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}
body {
	font: 12px/18px 'Open Sans', sans-serif;
	width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.wrapper {
	width: 981px;
	margin: 0 auto;
}
.clr:before,
.clr:after {
    content:"";
    display:table;
}
.clr:after {
    clear:both;
}
.clr {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 110px;
	background: #000;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 26px;
    line-height: 36px;
    color: #fff;
    text-align: left;
}
.logo {
    background: url("images/logo.png") no-repeat left center;
    height: 90px;
    padding: 20px 0 0 225px;
    width: 460px;
    float: left;
}
.logo1 {
    background: url("images/logo1.png") no-repeat left center;
    height: 90px;
    padding: 20px 0 0 225px;
    width: 460px;
    float: left;
}
.logo1 a{
    display: block;
    float: right;
    margin-right: 25px;
    color: #fff799;
    }
.logo1 a:hover{color: #fff;}
.phone {
    width: 281px;
    height: 90px;
    float: right;
    font-size: 24px;
    padding: 20px 0 0 0;
}
.phone p {
    color: #fff799;
    display: block;
    text-decoration: none;
    background: url("images/link.png") no-repeat right bottom;
    width: 281px;
}

.phone span {
    font-size: 32px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    display: block;
    text-align: center;
}
/* Middle
-----------------------------------------------------------------------------*/
main {
    height: 621px;
    background: url("images/mainbg.jpg") no-repeat center top;
    padding: 45px 0 0 0;
}
main h1 {
    font-size: 42px;
    color: #fff;
    font-weight: bold;
    line-height: 58px;
    padding: 0 0 10px 0;
}
main span {
    font-size: 24px;
    color: #fff;
    line-height: 36px;
}
#mabs1 {
    position: absolute;
    font-size: 34px;
    color: #e41d22;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    margin: 252px 0 0 29px;
    width: 570px;
}
#mabs2 {
    position: absolute;
    font-size: 38px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 358px 0 0 365px;
    width: 235px;
}
.form1 {
    width: 320px;
    height: 338px;
    position: absolute;
    margin: 189px 0 0 613px;
    padding: 19px 23px 0;
}
.form1 h2 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    line-height: 24px;
}
.form1 input[type=text] {
    display: block;
    height: 46px;
    border: 1px solid #00a99d;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 6px 0 0;
}
.form1 input[type=submit] {
    display: block;
    height: 62px;
    line-height: 62px;
    border: none;
    border-bottom: 7px solid #e41d22;
    border-radius: 3px;
    background: #f58220;
    font-size: 26px;
    font-weight: bold;
    width: 100%;
    margin: 6px 0 0;
    color: #fff;
    text-shadow: 0px 0px 6px #232323;
    cursor: pointer;
    text-transform: uppercase;
}
#sberbank {
    position: absolute;
    width: 173px;
    height: 131px;
    margin: 377px 0 0 103px;
    background: url("images/sbr.png") no-repeat;
}
nav {
    background: rgba(255,255,255,0.7);
    height: 40px;
    position: absolute;
    width: 100%;
    top: 110px;
	z-index: 999;
}
nav a {
    display: block;
    width: 163px;
    height: 40px;
    line-height: 40px;
    float: left;
    color: #000;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}
nav a:hover {
   background: #fff799;
}


.steps {
    margin-top: -119px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 19px;
}
.steps .item {
    width: 163px;
    float: left;
    text-transform: none;
}
.steps .item:nth-child(2) {
    margin-top: 22px;
}
.steps .item:nth-child(3) {
    margin-top: 44px;
}
.steps .item:nth-child(4) {
    margin-top: 66px;
}
.steps .item:nth-child(5) {
    margin-top: 88px;
}
.steps .item:nth-child(6) {
    margin-top: 110px;
}
.steps .item .circle {
    width: 146px;
    height: 146px;
    border: 1px solid #e41d22;
    border-radius: 73px;
    margin: 0 0 12px 0;
}
.steps .item .incircle {
    display: table-cell;
    height: 146px;
    width: 146px;
    text-align: center;
    vertical-align: middle;
}


.tehno {
    height: 1109px;
    background: url("images/tehno.jpg") no-repeat center top;
    padding: 94px 0 0 0;
}
.tehno h2 {
    font-size: 34px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    line-height: normal;
}
.tehno .itembg {
    background: #fff;
    padding: 0 15px 15px 0;
}
.tehno h3 {
    display: table-cell;
    font-size: 24px;
    font-weight: bold;
    height: 75px;
    vertical-align: middle;
    width: 312px;
    line-height: 24px;
}
.tehno .item {
    width: 312px;
    float: left;
    margin: 25px 0 0 22px;
}
.tehno .item:nth-child(3n+2) {
   margin-left: 0;
}
.tehno .item a {
    display: block;
    margin: 10px 0 0;
    height: 60px;
    background: #FF3A3A;
    border-bottom: 4px solid #e41d22;
    border-radius: 3px;
    line-height: 60px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 6px #232323;
    text-decoration: none;
}
.tehno .spec h3 {
    font-size: 36px;
    line-height: 44px;
    height: 130px;
}
.tehno .spec p {
    font-size: 23px;
    padding: 15px 0;
    line-height: 28px;
}
.tehno .spec .itembg {
    background: #fff799;
    padding: 0;
}
.tehno .spec .lastbg {
    background: url("images/lastbg.png") no-repeat left bottom;
    height: 44px;
    margin: 0 0 10px 0;
}
.tehno .spec a {

    margin: 10px 0 0;
    height: 91px;
    background: #f58220;
    border-bottom: 4px solid #dc651e;
    border-radius: 3px;
    line-height: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 0px 6px #232323;
    text-decoration: none;
    display: table-cell;
    width: 312px;
    vertical-align: middle;
}
.zahvat1 {
    height: 567px;
    background: url("images/zahvat1.png") no-repeat center top;
    margin: -82px 0 0 0;
    position: relative;
}
.z1abs1 {
    width: 512px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 135px 0 0 27px;
}
.z1abs2 {
    width: 488px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 244px 0 0 50px;
}
.z1abs3 {
    width: 356px;
    position: absolute;
    font-size: 52px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 338px 0 0 122px;
}
.form2 {
    width: 353px;
    height: 315px;
    background: rgba(0,0,0,0.7);
    margin: 108px 0 0 562px;
    position: absolute;
    padding: 30px 32px 0;
}

.form2 input[type=text] {
    display: block;
    height: 66px;
    border: 1px solid #00a99d;
    border-radius: 3px;
    background: #fff;
    font-size: 20px;
    text-align: center;
    width: 100%;
    margin: 0 0 13px;
}
.form2 button {
    display: table-cell;
    height: 85px;
    line-height: 29px;
    border: none;
    border-bottom: 6px solid #e41d22;
    border-radius: 3px;
    background: #f58220;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
    color: #fff;
    vertical-align: middle;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #232323;
    cursor: pointer;
}
.form2 i {
    font-style: normal;
    font-size: 14px;
    color: #fff;
    margin: 13px 0 0;
    display: block;
    text-transform: none;
}
.prices {
    background: #00746b url("images/prices.jpg") no-repeat center bottom;
    margin: -129px 0 0 0;
    padding: 140px 0 144px 0;
}
.prices h2 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    line-height: 36px;
    margin: 0 0 38px 0;
}
.prices .item {
    width: 312px;
    float: left;
    margin: 28px 0 0 22px;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
    color: #000;
    text-transform: lowercase;
}
.prices .item:nth-child(3n+2) {
    margin-left: 0;
}
.prices .item img {
    border: 11px solid rgba(255,255,255,0.5);
    margin: 0 0 17px 0;
}
.ourprice {
    height: 70px;
    background: #fff799;
    margin: 0 0 6px 0;
}
.ourprice span, .conprice span {
    display: block;
    padding: 10px;
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
}
.conprice {
    height: 70px;
    background: #ad1319;
    color: #fff;
}
.prices .ourprojects {
    background: rgba(0,0,0,0.5);
    padding: 0;
    height: 475px;
}
.ourprojects h2 {
    font-size: 28px;
    line-height: 84px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    margin: 0;
}
.prices .ourprojects img {
    margin: 0;
    border: none;
}
.prices .ourprojects .item {
    margin: 0;
    float: none;
    border: none;
}
.zahvat2 {
    height: 568px;
    background: url("images/zahvat2.png") no-repeat center top;
    margin: -127px 0 0 0;
    position: relative;
    padding: 20px 0 0 0;
}

.houses {
    height: 617px;
    background: url("images/houses.jpg") no-repeat center top;
    margin: -131px 0 0;
    padding: 149px 0 0 0;
}
.houses h2 {
    font-size: 36px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;
}
.slider2 {
    margin: 36px 0 0;
    background: rgba(0,0,0,0.5);
    padding: 25px 0;
}
#owl1 {
    width: 312px;
    margin: 0 auto;
}
#owl2 {
    width: 982px;
    margin: 0 auto;
}
.buttons {
    width: 142px;
    margin: 20px auto 0;
}
.prev, .next {
    width: 49px;
    height: 49px;
    float: left;
    margin: 0 10px;
    display: block;
    border: 1px solid #fff799;
}
.prev {
    background: url("images/leftbtn.png") no-repeat 14px center;
}
.prev:hover {
    background: #fff799 url("images/leftbtna.png") no-repeat 14px center;
}
.next {
    background: url("images/rightbtn.png") no-repeat 18px center;
}
.next:hover {
    background: #fff799 url("images/rightbtna.png") no-repeat 18px center;
}

.partners h2 {
    font-size: 36px;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;
    padding: 0 0 68px 0;
}
.diploms {
    height: 670px;
    background: url("images/diploms.jpg") no-repeat center top;
    padding: 95px 0 0 0;
}
.diploms h2 {
    font-size: 36px;
    color: #000;
    line-height: 36px;
    padding: 0 0 40px 0;
}
#owl3 {
    width: 982px;
    margin: 0 auto;
}
.diploms .prev, .diploms .next {
    border: 1px solid #e41d22;
}
.diploms .prev {
    background: url("images/leftbtna.png") no-repeat 14px center;
}
.diploms .prev:hover {
    background: #fff799 url("images/leftbtna.png") no-repeat 14px center;
    border: 1px solid #fff;
}
.diploms .next {
    background: url("images/rightbtna.png") no-repeat 18px center;
}
.diploms .next:hover {
    background: #fff799 url("images/rightbtna.png") no-repeat 18px center;
    border: 1px solid #fff;
}
.banks h2 {
    font-size: 36px;
    color: #000;
    line-height: 36px;
    padding: 30px 0 60px 0;
}
.banks img {
  display: block;
    float: left;
}
.zahvat3 {
    height: 586px;
    background: url("images/zahvat3.jpg") no-repeat center top;
    font-size: 28px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    line-height: 36px;


}
.zahvat3 .form2 {
    margin: 87px 0 0 563px;
    position: absolute;
}
.zahvat3 button {
    border-bottom: 6px solid #dc651e;
    background: #f58220;
}
.zahvat3 h2 {
    position: absolute;
    font-weight: bold;
    margin: 92px 0 0 0;
    width: 565px;
    text-align: left;
}
.z3abs1 {
    position: absolute;
    margin: 163px 0 0 0;
    width: 565px;
    text-align: left;
}
.foot {
    background: rgba(0,0,0,0.6);
    margin: -110px 0 0 0;
}
/* Footer
-----------------------------------------------------------------------------*/
.footer {
	height: 57px;
	background: #000;
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: none;
}
.infooter {
    display: table-cell;
    width: 982px;
    vertical-align: middle;
    height: 57px;
    margin: 0 auto;
}
.window {
    width: 980px;
    height: 400px;
    background: #fff;
    overflow: hidden;
}
.f1abs1 {
    margin: 32px 0 0;
    height: 167px;
    width: 491px;
    background: url("images/f1abs1.jpg") no-repeat;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 46px;
    padding: 10px 0 0 23px;
    text-align: left;
}
.f1abs2 {
    width: 491px;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 46px;
    padding: 0 0 0 23px;
    margin: -5px 0 0 0;
    text-align: left;
}
.leftblock {
    float: left;
}
.window .form2 {
    position: relative;
    margin: 0;
    float: right;
    height: 400px;
}
.window .form2 i {
    margin: 5px 0 0;
    color: rgba(255,255,255,0.7);
}
.f2abs1 {
    font-size: 44px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    line-height: 105px;
    margin: 10px 0 0 25px;
}
.win2 {
    background: #fff url("images/window2.jpg") no-repeat left 25px;
}
.win2 .form2 {
    padding: 65px 32px 0;
    height: 335px;
}

.reswindow {
	width: 300px;
	height: 100px;
	background: #fff;
}
.restext {
	height: 100px;
	width: 300px;
	display: table-cell;
	vertical-align: middle;
	font-size: 16px;
	line-height: normal;
}