body {line-height:1.5; font-size:14px; font-family:Verdana,'Geneva CY','DejaVu Sans',sans-serif;}
h2 {color:#333; font-weight:normal; font-size:18px; font-family:Georgia,'Century Schoolbook L',Serif; line-height:1.2; margin:14px 0;}
a {color:#215587;}
a:visited {color:#8B3797;}
a:hover {color:#BB350F;}
p {padding:0 0 14px 0; margin:0}


.services_wrap .service {background-position: 50% 50%;background-repeat: no-repeat;height: 350px;margin-bottom: 40px;display: flex;background-size: cover;align-items: flex-end;}
.services_wrap .service .name {font-size: 24px; font-family: 'Roboto', sans-serif; font-weight: 700; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);     line-height: 28px; color: #fff; position: relative;margin: 35px 20px 6px; display: inline-block; padding-top: 6px; }
.services_wrap .service .name:before {content: ' '; width: 84px;  height: 2px;  position: absolute;  left: 0;  top: 0;box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.33);;  border-bottom: 2px solid #fff;  -moz-transition: all 2s;  -webkit-transition: all 2s;  -o-transition: all 2s;  transition: all 2s;}
.services_wrap .service:hover .name:before {width: 100%;}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-lg-4 {
    width: 33.33333333%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.clearfix {
    clear: both;
}